header {
    //section
    section {
        justify-content: space-between;
        align-items: center;
    
     //nav ul
    nav{
        ul{
    display: flex;
    flex-direction: row;
    align-items: center;

                     li a {
                        transition: all 0.50s;
                        margin: 0 15px;
                        color: $color-primaria
                    /*transition*/
                     }
                     //end li
                 }
                 //end nav
         }
         //end ul
    }
    //end section
}



