@media (max-width: 2500px) {
    Body{
        background-size: 1250px;
    }
}
@media (max-width: 2400px) {
    Body{
        background-size: 1200px;
    }
}
@media (max-width: 2300px) {
    Body{
        background-size: 1150px;
    }
}

@media (max-width: 2200px) {
    Body{
        background-size: 1100px;
    }
}
@media (max-width: 2100px) {
    Body{
        background-size: 1050px;
    }
}
@media (max-width: 2000px) {
    Body{
        background-size: 1000px;
    }
}
@media (max-width: 1900px) {
    Body{
        background-size: 950px;
    }
}
@media (max-width: 1800px) {
    Body{
        background-size: 880px;
    }
}

@media (max-width: 1700px ){
    body{
        background-size: 800px;
    }

}

@media (max-width: 1550px) {
    body {
        background-size: 750px;
    }
}

@media (max-width: 1440px) {
    body{
        background-size: 750px;
    }
}
    
@media (max-width: 1330px) {
    body{
        background-size: 650px;
    }
}

@media (max-width: 1220px) {
    body {
        background-size: 600px;
    }
}
@media (max-width: 1100px) {
    body {
        background-size: 550px;
    }
}
