header section {
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
header nav ul li a{
    transition: all 0.50s;
    margin: 0 15px;
    color: #3399cc
    /*transition*/
    
}

header nav ul li:hover{
    transform: scale(1.25);
}